.einProjectContainer {
    min-width: 300px;
    height: 450px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    transition: 500ms;
}

.einProjectContainer:hover {
    transform: scale(1.05);
}

.einProjectHeader {
    display: flex;
    justify-content: space-between;
}

.einProjectContainer > h2 {
    color: black;
    background-color: white;
    padding: 2px;
}

.btnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnContainer > button {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}


.websiteBtn {
    position: absolute;
    bottom: -20px;
    padding: 10px 30px;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 35px;
    color: black;
    font-weight: bold;
    background-color: white;
    transition: 500ms;
}

.disabled {
    cursor: not-allowed;
    color: darkgray;
    background-color: gray;
}

.disabled:hover {
    color: darkgray !important;
    background-color: gray !important;
}

.websiteBtn:hover {
    color: white;
    background-color: black;
    border: 1px solid white;
}

.githubBtn {
    position: absolute;
    cursor: pointer;
    bottom: -60px;
    transition: 500ms;
    color: white;
}

.githubBtn:hover {
    color: white;
}

/*MEDIA QUERIES*/
@media screen and (max-width: 1200px) {
    .einProjectContainer {
        min-width: 250px;
        height: 480px;
    }
    .einProjectContainer > h2 {
        font-size: 20px;
    }
    .einProjectContainer > p {
        font-size: 16px;
    }
    .einProjectHeader > h2 {
        font-size:20px;
    }
    .einProjectContainer:hover {
        transform: scale(1);
    }
}

@media screen and (max-width: 600px) {
    .einSkillContent {
        min-width: 200px;
    }
}