.einPreisContainer {
    min-width: 400px;
    max-width: 400px;
    height: auto;
    min-height: 600px;
    border: 1px solid white;
    border-radius: 10px;
    position: relative;
    transition: 500ms;
    padding: 20px;
}

.einPreisContainer > .preis {
    text-shadow: 0 0 20px white;
}

.einPreisContainer > .desc {
    margin: 20px;
    margin-bottom: 50px;
}

.einPreisContainer > .blur {
    color: transparent;
    text-shadow: 0 0 15px white;
    user-select: none;
}


.einPreisContainer:hover {
    transform: scale(1.05);
}

/*Media Queries*/
@media screen and (max-width: 1100px) {
    .einPreisContainer {
        min-height: 450px;
        min-width: 250px;
        width: 400px;
    }
    .einPreisContainer:hover {
        transform: scale(1);
    }
}